$font-default: "Montserrat", sans-serif;

//  COLORS

$white: #ffffff;
$white-10: #f2f2f2;
$white-20: #f7f7f7;
$white-30: #f3f5f9;
$white-40: #d9d9d9;
$white-50: #e5e5e5;
$white-60: #bdbdbd;
$white-70: #9b9b9b;
$white-80: #9a9a9a;
$black: #000000;
$black-10: #2e2e2c;
$black-20: #575756;
$grey: #878787;
$grey-10: #afafaf;
$grey-20: #c6c6c6;
$orange: #f05a28;
$orange-10: #bf471e;
$green: #2f797a;
$green-10: #328c8c;
$green-20: #67b78c;
$green-30: #7cc9c3;
$green-40: #88c1c1;
$blue: #178bd3;
$blue-10: #87c5ec;
$blue-20: #549cca;
$red: #d93d3d;
$yellow: #f5c41f;
$yellow-10: #f4cc45;
$yellow-20: #f7b64e;

$mobile: 767px;
$tablet: 1023px;
